<div class='jumbotron' style='background-color:#88c6fc'>
	<div class='container-fluid'>
	
	<p style='text-align: center'>
		Useful Links
	</p>

	<ul class='links'>
		
			
		<li><a href='https://nseindia.com'>NSE</a></li>	
		<li><a href='https://bseindia.com'>BSE</a></li>	
		<li><a href='https://mcxindia.com'>MCX</a></li>	
		<li><a href='https://ncdex.com'>NCDEX</a></li>	
		<li><a href='https://nsdl.co.in'>NSDL</a></li>	
		<li><a href='https://cdslindia.com'>CDSL</a></li>	
		<li><a href='https://sebi.gov.in'>SEBI</a></li>	
		<li><a href='https://amfiindia.com'>AMFI</a></li>	
		<li><a href='https://scores.gov.in/'>Filing Complaint on scores - easy and quick</a></li>	
		<li><a href='https://camsonline.com'>CAMS</a></li>
		<li><a href='https://mfs.kfintech.com'>KFintech</a></li>
	</ul>	
	
	<p style='text-align: center; margin: 25px;'>
		 AMFI ARN NO. - 139135 | BSE STAR MFD CODE - 25031 | BSE EBIX POS CODE - 1580262314 |<br> | NSE MF CODE - MFS139135 |
	</p>
	<div style='text-align:center'>
		| Copyright © 2020 Asha Wealth Management, Muzaffarpur | Designed and Developed by: - Krish Tikmani |
		
		</div>	
	</div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src='/scripts/sip-calc.js'></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>


</html>