<!DOCTYPE html>
<html>
	<head>
		<title>Asha Wealth Management</title>
		
		<link rel='stylesheet' href='/stylesheets/main.css'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	
	<body>
		
	<div id='navigation'>
		
			
		<nav class='navbar navbar-default navbar-fixed-top'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<img src='/images/logo.png' style="width:500px; height:100px;">
				
				</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='/'><i class="fas fa-home"></i></a></li>
					<li><a href='/about-us'>About Us</a></li>
					<li><a href='/downloads'>Downloads</a></li>
					
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a href="/#mf">Mutual Funds</a></li>
						<li><a href="/insurance">Insurance</a></li>
						<li><a href="#">Broking</a></li>
						<li><a href='https://seeingo.in'>Flight Booking</a></li>
					  </ul>
				</li>
					
					<li><a href='/blogs'>Blogs</a></li>
					<li><a href='/register'>Register</a></li>
					<li><a href='/login'>Login</a></li>
					<li><a href='/#contact'>Contact Us</a></li>
					<li><a href='#'>Career</a></li>
				</ul>
				</div>
			</div>
		</nav>
	</div>