<%- include('partials/header') %>
<link rel='stylesheet' href='/stylesheets/about.css'>
<div class='container'>
	<h1>
		About Us
	</h1>
	
	<div class='well'>
		<h2>
			Asha Wealth Management
		</h2>
		
		
		<div class='row'>
			<div class='col-sm-8'>
			<h3>
			Why the name Asha Wealth Management ?	
			</h3>
			<p>
				With the blessing of my mother Smt. Asha Devi Tikmani we have started giving services in the field of financial market.
			</p>
			<h3>
				History	
			</h3>
			<p>
				When people take names of Stock market in Muzaffarpur then the name which stucks in mind Shri Awadh Bihari Tikmani who has been in this market since 1990. The present client has been taking huge advantage of his experience of more than 30 years as it has helped them to gain more with low risk. 
			</p>
			<p>
			  After the arrival of screen based training Mr Chetan Tikmani (LLB,MBA) and Dr. Amit Tikmani (PhD. Commerce) took the mantle and started as market analysts in Stock Market in the year 2004.	
			</p>
			<p>
			  Mutual Fund and Insurance Services was stated under our roof in the year 2018. 		
			</p>	
			</div>
			<div class='col-sm-4'>
				<img src='/images/about1.jpeg' style='height:300px;width:300px;border:1px solid black;padding:5px'>
			</div>
			
			<div class='col-sm-12'>
				<h3>
					Our Promise
				</h3>
				<p>
					We promise to provide our clients - research based, unbiased, independent and need based services/advice with honest and ethical dealings.
				</p>
				<h3>
					Our Mission
				</h3>
				<p>
					Provide need based solutions at the right value, gaining lifetime client relationships through a happy team & service excellence.
				</p>
				<h3>
					Our Vision
				</h3>
				<p>
					India's most admired & recommended wealth creation & protection brand.
				</p>




			</div>
		</div>
		
	</div>
	
	
</div>	


<%- include('partials/footer') %>