<%-include('partials/header') %>

<div id='downloads'>
	<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">Downloads</div>
	  <div class="panel-body">
		<p>Get the important files downloaded from here</p>
	  </div>

  <!-- Table -->
  <table class="table">
    <tr>
		<th>File</th>
		<th>Click to download</th>
	</tr>
	  <tr>
		  <td>Account Opening Form</td>
		  <td><a href="/forms/AccountOpeningForm.pdf" download>Download File</a></td>
	  </tr>
	   <tr>
		  <td>CKYC Form</td>
		  <td><a href="/forms/CKYC_FORM.pdf" download>Download File</a></td>
	  </tr>
	   <tr>
		  <td>Mandate Form</td>
		  <td><a href="/forms/Mandate-Form.pdf" download>Download File</a></td>
	  </tr>
  </table>
</div>
</div>


<%-include('partials/footer') %>