<%- include('partials/header') %>
<link rel='stylesheet' href='/stylesheets/insurance.css'>
<div class='container'>
	<h1>
		Insurance Services
	</h1>
	
	<div class='well'>
		<div class='upper'>
			<h2>
			Buy Insurance Online to Protect Your Dreams
		</h2>
		
			<p>
				
			The only thing certain in our lives is risk! All our financial plans are subject to risk, whether it be our financial goals or our business.
			</p>
			<p>
	Risks upset our financial plan, but the good news is that we can protect it from risk. The challenges are many, and the solution is one - insurance!
			</p>
	</div>
		
	<div class='middle'>
		<h2>
			What is Insurance?
		</h2>
			<p>
					Insurance, whether it is life, non-life, health, or commercial, provides you with a risk cover that protects you and your family from unforeseen financial mishaps.
			</p>

			<p>
			Insurance is provided by an insurer, which could be a private or public entity. You can<a href="https://portal.bseebix.com"> buy insurance online</a> to protect yourself from these risks. In order to provide you with this protection, insurers charge you a premium.
			</p>	
	
	</div>	
				
	<div class='bottom'>
		<h3>
			The main types of insurance are:
		</h3>
		
		<ul>
			
			<li>
				<h4>Life Insurance</h4>
				<p>
					This is meant to protect your family in your absence. It is calculated on the basis of either your total monthly expenses or your annual income.			
				</p>
				<p>
					Term or pure insurance is an example of life insurance, and it has no maturity value. It is pure protection.
				</p>
				<p>
					<strong>Example-</strong>
				</p>
				<em>Mr Amit Trivedi is a 28-year old accounting professional who is married with a 2-year old daughter. With the help of an insurance advisor, he calculates that the term insurance he needs would be INR 1 crore.He pays a premium of INR 5,578 annually. Two years later, Mr Trivedi dies in an accident. His wife will get a sum of INR 1 crore from the insurance company.</em>
			</li>
			
			<li>	
				<h4>Non-life Insurance</h4>			
				<p>
					Your assets, such as buildings, equipment, machinery, vehicle or furniture, are protected from the risk of fire, theft, accidents, or earthquake.		
				</p>			
				<p>
					<strong>Example-</strong>
				</p>
				<em>Mr Harsh Bedi took a replacement fire insurance policy for his office building for INR 10 lakhs. A week later, his building caught fire. The insurance company will now pay Mr Bedi INR 10 lakhs.				</em>
			</li>
								
			<li>
				<h4>Health Insurance</h4>	
				<p>
					This provides you with protection in the event of hospitalisation due to certain medical ailments. The cost of hospital stay, surgeries, medication, pre, and post hospitalisation are covered subject to certain limits.
				</p>			
				<p>
					<strong>Example-</strong>
							
				</p>
				<em>Mr Akash Kapoor, 30, bought a health insurance cover for INR 10 lakhs. After 3 years, Mr Kapoor had an accident and had to undergo knee surgery. The cost of hospitalisation was INR 9.5 lakhs. The insurer will reimburse this.</em>
			</li>
					
			<li>
				<h4>Commercial Insurance</h4>
				<p>
					Losses which occur due to property damage or employee injury are covered under this form of insurance.
				</p>			
				<p>
					<strong>Example-</strong>
				</p>
				<em>	Mr. Harish Lakhotia had to pay for the treatment of an employee who was electrocuted in his factory. His commercial insurance covered it.</em>
			</li>
		</ul>
	</div>
				
				

				
				

		
	</div>
</div>





<%- include('partials/footer') %>